@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    overflow-y: hidden;

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('images/01-Purple_DM-4K.png') no-repeat center center fixed;
    background-size: cover;
    transition: background 0.5s ease-in-out;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    position: relative;
}

header h2 {
    margin: 0;
    color: #a336ff;
    font-size: 26px;
    font-weight: bold;
}

.theme-toggle {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 28px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);

    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 6px;
    transition: 0.3s ease;
}

.theme-toggle i {
    font-size: 14px;
    opacity: 0.7;
    pointer-events: none;
    color: #fff;
}

.toggle-ball {
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

body.light-mode .toggle-ball {
    transform: translateX(32px);
}

body.light-mode {
    background: url('images/01-Purple_LM-4K.png') no-repeat center center fixed;
    background-size: cover;
}

.chat-box {
    width: 100%;
    max-width: 800px;
    height: 75vh;

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(14px);
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.messages {
    flex: 1;
    padding: 18px 25px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scroll-behavior: smooth;
}

.message {
    max-width: 45%;
    padding: 12px 16px;
    border-radius: 20px;
    font-size: 15px;
    width: fit-content;
    display: flex;
    flex-direction: column;

    position: relative;
    padding-bottom: 10px;

    gap: 0px;
    animation: fadeIn 0.2s ease;
    font-family: 'Poppins';

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    word-break: break-word; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message .username {
    font-size: 11px;
    opacity: 0.75;
    margin-bottom: 2px;
}

.message .text {
    margin-right: 25px;
}

.message .time {
    position: absolute;
    right: 10px;
    bottom: 12px;

    font-size: 10px;
    opacity: 0.75;
}

.message.received {
    background: rgba(255, 255, 255, 0.55);
    color: #111;
    align-self: flex-start;

    border: none;
    border-radius: 20px 20px 20px 8px;
    text-align: end;
}

.message.sent {
    background: rgba(0, 110, 255, 0.75);
    color: #fff;
    align-self: flex-end;

    border: none;
    border-radius: 20px 20px 8px 20px;
}

.message img {
    max-width: 260px;
    border-radius: 18px;
}

.form {
    display: flex;
    gap: 10px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    align-items: center;
}

#username,
#msg {
    font-family: 'Poppins';
    padding: 0px 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 14px;

    height: 38px;
    background: rgba(255, 255, 255, 0.45);
    color: #ffffff;

}

#username::placeholder,
#msg::placeholder {
    font-family: 'Poppins';
    color: #ffffff;
    opacity: 0.65;
}

#username {
    width: 130px;
}

#msg {
    flex: 1;
}

.img-btn {
    width: 42px;
    height: 42px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}

.img-btn:hover {
    transform: scale(1.07);
    background: rgba(255, 255, 255, 0.6);
}

.img-btn:active {
    transform: scale(0.94);
}

.send-btn {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background: rgba(0, 110, 255, 0.7);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}

.send-btn:hover {
    background: rgba(0, 110, 255, 0.9);
    transform: scale(1.07);
}

.send-btn:active {
    transform: scale(0.92);
}

.send-btn i {
    color: white;
    font-size: 17px;
}

@media (max-width: 820px) {
    .chat-box {
        height: 100vh;
        max-width: 100%;
        border-radius: 0;
        backdrop-filter: blur(0px);
        background: rgb(255 255 255 / 2%);
    }

    #username {
        width: 58px;
    }

    #username,
    #msg {
        width: 70px;
        font-size: 13px;
    }

    .form {
        gap: 7px;
    }

    .message.sent .text {
        margin-right: 100px;
    
    }
    
}

.messages::-webkit-scrollbar {
    width: 8px;
}

.messages::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.20);
    border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.messages::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.75);
}